<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">
    {% load static %}
	{% block head%}
    {% include "head.html"%}
	{% endblock %}
    <body>
        <section class="section bg-success p-2 bg-opacity-75">
            <div class="container">
                <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                    <a class="navbar-brand" href="{% url 'index'%}">
                        <img src="{% static 'img/Carro.png' %}" width="221" height="115">
                    </a>
					<div class="container-fluid">
						<a class="navbar-brand" href="{% url 'index'%}">Início</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarCliente" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										Clientes
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'cliente_adicionar' %}">Cadastrar Pessoa Fisica</a></li>
										<li><a class="dropdown-item" href="{% url 'cliente_juridico_adicionar' %}">Cadastrar Pessoa Juridica</a></li>
										<li><a class="dropdown-item" href="{% url 'clientes' %}">Listar Clientes</a></li>
										<li><a class="dropdown-item" href="{% url 'clientes_juridico' %}">Listar Clientes Juridicos</a></li>
									</ul>
								</li>
                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarFuncionario" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										Funcionários
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'funcionario_adicionar' %}">Cadastrar Funcionário</a></li>
										<li><a class="dropdown-item" href="{% url 'funcionarios' %}">Listar Funcionários</a></li>
									</ul>
								</li>
                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarVeiculo" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										Veículos
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'veiculo_adicionar' %}">Cadastrar Veículo</a></li>
										<li><a class="dropdown-item" href="{% url 'veiculos' %}">Listar Veículos</a></li>
									</ul>
								</li>
                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarEstadas" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										Estadas
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'estadia_adicionar' %}">Cadastrar Estadia</a></li>
										<li><a class="dropdown-item" href="{% url 'estadias' %}">Listar Estadias</a></li>
									</ul>
								</li>

                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarValorHora" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										Valor da Hora
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'valor_hora_adicionar' %}">Cadastrar Valor Da hora</a></li>
										<li><a class="dropdown-item" href="{% url 'valor_hora' %}">Listar Valores das Horas</a></li>
									</ul>
								</li>
                                 <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarPagamentos" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										Pagamentos
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'pagamentos' %}">Listar Pagamentos</a></li>
									</ul>
							</ul>
						</div>
					</div>
				</nav>
            </div>
        </section>
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% block messages %}
        {% if messages %}
        <script>
          {% for message in messages %}
            Swal.fire({
              icon: '{% if "error" in message.tags %}error{% elif "warning" in message.tags %}warning{% elif "success" in message.tags %}success{% else %}info{% endif %}',
              title: 'Sucesso',
              text: '{{ message|escapejs }}',
              timer: 3000,
              showConfirmButton: false,
              timerProgressBar: true,
              position: 'bottom-end',
              toast: true,
            });
          {% endfor %}
        </script>
        {% endif %}
        {% endblock %}
                <script>
            document.addEventListener('DOMContentLoaded', function() {
                const deleteForms = document.querySelectorAll('.form-delete');

                deleteForms.forEach(form => {
                    form.addEventListener('submit', function(e) {
                        e.preventDefault();

                        Swal.fire({
                            title: 'Tem certeza?',
                            text: "Essa ação não pode ser desfeita!",
                            icon: 'warning',
                            if () {
                                form.submit();
                            },
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sim, excluir!',
                            cancelButtonText: 'Cancelar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                form.submit();
                            }
                        });
                    });
                });
            });
            </script>
	{% block content %} {% endblock %}
	{% block footer %}
		{% include "footer.html" %}
	{% endblock %}
    </body>
</html>