{% extends "principal.html" %}
{% block content %}
{% load django_bootstrap5%}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados da estadia</h3>
                <p class="p-2 mt-2"><strong>Veiculo: </strong>{{object.veiculo}}</p>
                {% if object.cpf %}
                    <p class="p-2 mt-2"><strong>cliente: </strong>{{object.veiculo.cliente_fisico}}</p>
                {% else %}
                    <p class="p-2 mt-2"><strong>Cnpj: </strong>{{object.veiculo.cliente_juridico}}</p>
                {% endif %}
                <p class="p-2 mt-2">Confirma a exclusão do cliente: <strong></strong>?</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-end">
                        {% bootstrap_button button_type="submit" content="Sim" %}
                        <a href="{% url 'estadias' %}" class="btn btn-secondary text-white" type="button">
                           <span class="text">Cancelar</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}