{% extends "principal.html" %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}


    <section class="section">
        <div class="container">
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Valores de Horários Cadastrados</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-success">
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                             {% for valor_hora in object_list %}
                                    <tr>
                                    <td> {{ valor_hora.get_tipo_display }}</td>
                                        <td>{{valor_hora.valor_da_hora}}</td>
                                        <td style="text-align: center">


                                                <a href="{% url 'valor_hora_editar' valor_hora.pk %}">
                                                    <span class="icon">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                </a>
                                                <form method="post" action="{% url 'valor_hora_apagar' valor_hora.pk %}" class="form-delete" style="display:inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                                            <span class="icon has-text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </span>
                                                        </button>
                                                    </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
{#        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>#}
{##}
{#        {% if messages %}#}
{#        <script>#}
{#          {% for message in messages %}#}
{#            Swal.fire({#}
{#              icon: '{% if "error" in message.tags %}error{% elif "warning" in message.tags %}warning{% elif "success" in message.tags %}success{% else %}info{% endif %}',#}
{#              title: '{{ message.tags|capfirst }}',#}
{#              text: '{{ message|escapejs }}',#}
{#              timer: 3000,#}
{#              showConfirmButton: false,#}
{#              timerProgressBar: true,#}
{#              position: 'bottom-end',#}
{#              toast: true,#}
{#            });#}
{#          {% endfor %}#}
{#        </script>#}
{#        {% endif %}#}
{#                <script>#}
{#            document.addEventListener('DOMContentLoaded', function() {#}
{#                const deleteForms = document.querySelectorAll('.form-delete');#}
{##}
{#                deleteForms.forEach(form => {#}
{#                    form.addEventListener('submit', function(e) {#}
{#                        e.preventDefault();#}
{##}
{#                        Swal.fire({#}
{#                            title: 'Tem certeza?',#}
{#                            text: "Essa ação não pode ser desfeita!",#}
{#                            icon: 'warning',#}
{#                            showCancelButton: true,#}
{#                            confirmButtonColor: '#3085d6',#}
{#                            cancelButtonColor: '#d33',#}
{#                            confirmButtonText: 'Sim, excluir!',#}
{#                            cancelButtonText: 'Cancelar'#}
{#                        }).then((result) => {#}
{#                            if (result.isConfirmed) {#}
{#                                form.submit();#}
{#                            }#}
{#                        });#}
{#                    });#}
{#                });#}
{#            });#}
{#            </script>#}
    </section>
{% endblock %}
