{% extends "principal.html" %}
{% block content %}
{% load django_bootstrap5%}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados do Veículos</h3>
                {% if veiculos.cliente_fisico %}
                <p class="p-2 mt-2"><strong>Cliente: </strong>{{veiculos.cliente_fisico}}</p>
                {% else %}
                <p class="p-2 mt-2"><strong>Cliente: </strong>{{veiculos.cliente_juridico}}</p>
                {% endif %}
                <p class="p-2 mt-2"><strong>Modelo: </strong>{{veiculos.modelo}}</p>
                <p class="p-2 mt-2"><strong>Ano: </strong>{{veiculos.ano}}</p>
                <p class="p-2 mt-2">Confirma a exclusão do Veículo: <strong></strong>?</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-end">
                        {% bootstrap_button button_type="submit" content="Sim" %}
                        <a href="{% url 'veiculos' %}" class="btn btn-secondary text-white" type="button">
                           <span class="text">Cancelar</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}